<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 基本设置 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	
	<!-- 为该包下的bean类起别名 -->
	<typeAliases>
		<package name="com.atlin.crud.beans" />
	</typeAliases>
	
	<!-- 分页插件PageHelper的配置 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>
